<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3 class="footer-logo">Freelancer Connect</h3> <div class="social-links">
                <span>Follow Us on:</span>
                <a href="https://www.linkedin.com/in/Aditya358">👉 linkedin</a>
        </div>
        <div class="footer-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
            <a href="#">Contact Support</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2025. All rights reserved</p>
    </div>
</footer>