<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="background">
        <div class="shape" style="width:100px; height:100px; left:10%; top:80%;"></div>
        <div class="shape square" style="width:120px; height:120px; left:50%; top:90%;"></div>
        <div class="shape" style="width:80px; height:80px; left:80%; top:85%;"></div>
        <div class="shape square" style="width:150px; height:150px; left:30%; top:95%;"></div>
    </div>

    <main>
        <h1>Register</h1>
        <form id="registrationForm" action="/register" method="post">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Register">
        </form>
        <p class="auth-links">Already have an account? <a href="/login">Login here</a></p>
    </main>
{% include 'footer.html' %}
</body>
</html>